@model Doctor
<!-- Doctor Details Section Start -->
<div class="container style-one ptb-120">
    <div class="row">
        <div class="col-xl-4 pe-xxl-5">
            <aside class="sidebar me-xxl-5">
                <div class="sidebar-widget style-three single-doctor-widget round-20">
                    <div class="doctor-card style-four round-20">
                        <div class="doctor-img position-relative  mb-32">
                            <img src="~/img/doctors/@Model.Img" alt="Image" class="w-100">
                        </div>
                        <div class="doctor-info">
                            <h3 class="fs-24 fw-extrabold mb-6"><a href="/Doctors/DoctorDetails/@Model.Id" class="text-title hover-text-primary">@Model.Name</a></h3>
                            <span>@Model.DoctorType</span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget single-doctor-info-widget round-20">
                    <h3 class="sidebar-widget-title fs-24 fw-extrabold text-title mb-18">Personal Information</h3>
                    <ul class="contact-info list-unstyled">
                        <li class="position-relative"><img src="~/img/icons/phone-black-4.svg" alt="Icon"><a href="tel:968547856254" class="text-para hover-text-primary">@Model.PhoneNumber</a></li>
                        <li class="position-relative"><img src="~/img/icons/mail-black-4.svg" alt="Icon"><a href="@Model.Email" class="text-para hover-text-primary">@Model.Email</a></li>
                        <li class="position-relative"><img src="~/img/icons/pin-black-4.svg" alt="Icon">@Model.Address</li>
                    </ul>
                    <ul class="social-profile style-three list-unstyled mb-0">
                        <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition"><i class="ri-facebook-fill"></i></a></li>
                        <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition"><i class="ri-twitter-x-line"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition"><i class="ri-instagram-fill"></i></a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition"><i class="ri-linkedin-fill"></i></a></li>
                    </ul>
                </div>
                <div class="sidebar-widget category-widget round-20">
                    <h3 class="sidebar-widget-title fs-24 fw-extrabold text-title mb-18">Professional Skills</h3>
                    <div class="progressbar-wrap">
                        <div class="progress-item">
                            <div class="progress-title d-flex flex-wrap align-items-center justify-content-between">
                                <span class="text-title w-50">Surgery</span>
                                <span class="text-title w-50 percent text-end">70%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="max-width: 70%">
                                </div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <div class="progress-title">
                                <span class="text-title w-50">Medical Research</span>
                                <span class="text-title w-50 percent text-end">80%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="max-width: 80%">
                                </div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <div class="progress-title">
                                <span class="text-title w-50">Professionalism</span>
                                <span class="text-title w-50 percent text-end">90%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="max-width: 90%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-xl-8 ps-xxl-0">
            <div class="ms-xxl-n4">
                <div class="doctor-desc">
                    <div class="single-para">
                        <h1>Introduction</h1>
                        <p>@Model.Introduction</p>
                        <p>Your health and well-being are our top priorities. We take the time to listen to your concerns, answer your questions, and involve you in the decision-making process for your healthcare. We believe in empowering our patients to make informed choices about their health.</p>
                    </div>
                    <div class="single-para">
                        <h2>Specialities</h2>
                        <p>Our clinic is equipped with modern facilities and advanced medical technology to ensure accurate diagnoses and effective treatments This enables us to provide you with the highest standard of care</p>
                    </div>
                    <ul class="features-list style-one list-unstyled pe-xxl-5 me-xxl-5 mb-35">
                        @foreach(var speciality in Model.Specialities) 
                        {
                        <li class="position-relative"><i class="ri-checkbox-circle-line"></i><span class="fw-semibold text-title me-3">@speciality.Title</span>@speciality.Degree</li> 
                         }
                    </ul>
                    <div class="single-para">
                        <h2>Educational Info</h2>
                        <p>We understand that every patient is unique, and their healthcare needs may vary. That's why we create individualized treatment plans tailored to your specific condition, lifestyle, and preferences.</p>
                    </div>
                    <ul class="features-list list-unstyled mb-35">
                        @foreach(var education in Model.Educations)
                        {
                        <li class="position-relative"><i class="ri-checkbox-circle-line"></i><span class="fw-semibold text-title me-3">@education.University</span>(@education.Specialization @(education.Year.ToString("yyyy")))</li>
                        }
                    </ul>
                    <div class="single-para">
                        <h2>Memberships</h2>
                        <p>We understand that every patient is unique, and their healthcare needs may vary. That's why we create individualized treatment plans tailored to your specific condition, lifestyle, and preferences.</p>
                    </div>
                    <ul class="features-list list-unstyled mb-50">
                        @foreach(var membership in Model.Memberships)
                        {
                         <li class="position-relative"><i class="ri-checkbox-circle-line"></i>@membership.Description</li>
                        }
                       
                    </ul>
                </div>
                <div class="filter-box round-20">
                    <h2 class="fs-36 fw-extrabold text-title mb-20">Book An Appointment</h2>
                    <form action="#" class="form-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group position-relative mb-30">
                                    <input type="text" required class="fs-xx-14 w-100 h-54 round-10 bg-ash text-para border-0" placeholder="Your Name">
                                    <img src="~/img/icons/person-gray.svg" alt="Icon">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group position-relative mb-30">
                                    <input type="email" placeholder="Email Address" required class="fs-xx-14 w-100 h-54 round-10 bg-ash text-para border-0">
                                    <img src="~/img/icons/mail-gray.svg" alt="Icon">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group position-relative mb-30">
                                    <input type="number" placeholder="Phone Number" required class="fs-xx-14 w-100 h-54 round-10 bg-ash text-para border-0">
                                    <img src="~/img/icons/phone-gray.svg" alt="Icon">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group position-relative mb-30">
                                    <input type="date" required class="fs-xx-14 w-100 h-54 round-10 bg-ash text-para border-0">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn style-two font-secondary fw-medium d-block w-100 position-relative z-1 round-6 d-block w-100">
                            <span>
                                Make An Appointment
                                <img src="~/img/icons/right-arrow-white.svg" alt="Icon" class="transition icon-left">
                            </span>
                            <img src="~/img/icons/right-arrow-white.svg" alt="Icon" class="transition icon-right">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Doctor Details Section End -->
<hr class="mx-4">
<!-- Doctor Section Start -->
<div class="container style-one pt-120 pb-90">
    <div class="row align-items-center mb-25">
        <div class="col-md-7 mb-sm-10">
            <h2 class="section-title title-anim fw-black text-title mb-0">Related Specialists</h2>
        </div>
        <div class="col-md-5">
            <div class="slider-btn style-one d-flex flex-wrap align-items-center justify-content-md-end">
                <button class="prev-btn doctor-prev border-0 me-2 d-flex flex-column align-items-center justify-content-center rounded-circle transition"><i class="ri-arrow-left-s-line"></i></button>
                <button class="next-btn doctor-next border-0 ms-2 d-flex flex-column align-items-center justify-content-center rounded-circle transition"><i class="ri-arrow-right-s-line"></i></button>
            </div>
        </div>
    </div>
    <div class="doctor-slider-one swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="doctor-card style-three mt-2 mb-30 round-20">
                    <div class="doctor-img position-relative round-10 mb-32">
                        <img src="~/img/doctors/doctor-6.jpg" alt="Image" class="round-10">
                        <ul class="social-profile list-unstyled mb-0 position-absolute transition">
                            <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-twitter-x-line"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-instagram-fill"></i></a></li>
                            <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-linkedin-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="doctor-info text-center">
                        <h3 class="fs-24 fw-extrabold mb-13"><a href="doctor-details.html" class="text-title hover-text-primary">Dr. Robert Schrock</a></h3>
                        <span>Cardiologist</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="doctor-card style-three mt-2 mb-30 round-20">
                    <div class="doctor-img position-relative round-10 mb-32">
                        <img src="~/img/doctors/doctor-2.jpg" alt="Image" class="round-10">
                        <ul class="social-profile list-unstyled mb-0 position-absolute transition">
                            <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-twitter-x-line"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-instagram-fill"></i></a></li>
                            <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-linkedin-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="doctor-info text-center">
                        <h3 class="fs-24 fw-extrabold mb-13"><a href="doctor-details.html" class="text-title hover-text-primary">Dr. Patrick Smith</a></h3>
                        <span>Neurosurgery</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="doctor-card style-three mt-2 mb-30 round-20">
                    <div class="doctor-img position-relative round-10 mb-32">
                        <img src="~/img/doctors/doctor-3.jpg" alt="Image" class="round-10">
                        <ul class="social-profile list-unstyled mb-0 position-absolute transition">
                            <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-twitter-x-line"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-instagram-fill"></i></a></li>
                            <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-linkedin-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="doctor-info text-center">
                        <h3 class="fs-24 fw-extrabold mb-13"><a href="doctor-details.html" class="text-title hover-text-primary">Dr. Patrick Smith</a></h3>
                        <span>Neurology</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="doctor-card style-three mt-2 mb-30 round-20">
                    <div class="doctor-img position-relative round-10 mb-32">
                        <img src="~/img/doctors/doctor-4.jpg" alt="Image" class="round-10">
                        <ul class="social-profile list-unstyled mb-0 position-absolute transition">
                            <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-twitter-x-line"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-instagram-fill"></i></a></li>
                            <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-linkedin-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="doctor-info text-center">
                        <h3 class="fs-24 fw-extrabold mb-13"><a href="doctor-details.html" class="text-title hover-text-primary">Dr. Brenton Ottinger</a></h3>
                        <span>Dentristy</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="doctor-card style-three mt-2 mb-30 round-20">
                    <div class="doctor-img position-relative round-10 mb-32">
                        <img src="~/img/doctors/doctor-5.jpg" alt="Image" class="round-10">
                        <ul class="social-profile list-unstyled mb-0 position-absolute transition">
                            <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-twitter-x-line"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-instagram-fill"></i></a></li>
                            <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-linkedin-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="doctor-info text-center">
                        <h3 class="fs-24 fw-extrabold mb-13"><a href="doctor-details.html" class="text-title hover-text-primary">Dr. Elaine Maloni</a></h3>
                        <span>Cheif Surgeon</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="doctor-card style-three mt-2 mb-30 round-20">
                    <div class="doctor-img position-relative round-10 mb-32">
                        <img src="~/img/doctors/doctor-7.jpg" alt="Image" class="round-10">
                        <ul class="social-profile list-unstyled mb-0 position-absolute transition">
                            <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-twitter-x-line"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-instagram-fill"></i></a></li>
                            <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-linkedin-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="doctor-info text-center">
                        <h3 class="fs-24 fw-extrabold mb-13"><a href="doctor-details.html" class="text-title hover-text-primary">Dr. Joshua Searle</a></h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="doctor-card style-three mt-2 mb-30 round-20">
                    <div class="doctor-img position-relative round-10 mb-32">
                        <img src="~/img/doctors/doctor-8.jpg" alt="Image" class="round-10">
                        <ul class="social-profile list-unstyled mb-0 position-absolute transition">
                            <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-facebook-fill"></i></a></li>
                            <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-twitter-x-line"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-instagram-fill"></i></a></li>
                            <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center round-5 transition"><i class="ri-linkedin-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="doctor-info text-center">
                        <h3 class="fs-24 fw-extrabold mb-13"><a href="doctor-details.html" class="text-title hover-text-primary">Dr. Benita James</a></h3>
                        <span>Dermatologist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Doctor Section End -->